<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>


	<table  style="font-size: 17px; cursor: pointer;">
		<thead>
		  <tr>
			<th scope="col" style=" width: 55px;" >#</th>
			<th scope="col" style=" width: 100px;" class="text-center" >Titulo</th>
			<th scope="col">Minutos</th>
			<td> </td>
            <td> </td>
		  </tr>
		</thead>
		<tbody class="colorSub" >
			<tr  *ngFor="let tarea of tareas"  >
				<td  style="cursor: not-allowed;"> {{tarea.id}}  </td>
				<th   class="text-center" > {{tarea.titulo}} </th>
				<td  >{{tarea.minuto}}</td>
				<td>
					<button mat-icon-button class="btnIco2"  >
						<mat-icon>edit</mat-icon>
					</button>
				</td>
				<td>
					<button mat-icon-button class="btnIco2"  >
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>