.container {
    padding: 30px;
}

h1 {
    margin-top: 0px;
}


/* table */


table {
  width: 100%;
}


.btnadd{
    background: #47b2e4;
    color: #fff;
    border-radius: 20px;
    width: 187px;
}